In [7]:
import nba_py

In [ ]:
"""
In today's NBA, cap flexibility is huge. It allows teams to make those moves that get them into true title contention.
It allows for sustainable team success. And let's face it, the NBA is a team sport. Sure, you can get by with 2 or 3 really good players.
But to go far in today's NBA, you need to be deep.

This app is an NBA contracts analysis tool. It finds the players with the best metrics relative to yearly/total contract salary.
Metrics include: PER/$MM, PPG/$MM, RPB/$MM, APG/$MM, FG%/$MM, 3FG%/$MM, WS/$MM, etc.
My hypothesis is, the team with the most players that rank highest in these metrics is usually the best. 
They're the deepest.

Another feature of this app is the trade recommender.
You can input a team's need (i.e. 3 PT. shooting, rim protection, etc.) and it will recommend the player to target that fits within cap.

The more data there is, the more need there will be for a tool like this in every front office in the NBA.
Today's world is all about collaboration. And to succeed in the NBA, you can't separate the game from the money.
You need to make strategic moves with regards to both team success and monetary efficiency.
"""

In [3]:
scores = nba_py.Scoreboard()

In [4]:
scores

In [5]:
print scores

<nba_py.Scoreboard instance at 0x109f754d0>

In [8]:
harden = nba_py.player.get_player(James, Harden)

AttributeError: 'module' object has no attribute 'player'

In [9]:
harden = player.get_player(James, Harden)

NameError: name 'player' is not defined

In [10]:
type(nba_py)

module

In [11]:
from nba_py import player

In [12]:
harden = player.get_player('James', 'Harden')

In [13]:
harden

1517    201935
Name: PERSON_ID, dtype: int64

In [14]:
type(harden)

pandas.core.series.Series

In [15]:
import pandas as pd
import numpy as np

In [16]:
harden

1517    201935
Name: PERSON_ID, dtype: int64

In [17]:
print harden

1517    201935
Name: PERSON_ID, dtype: int64

In [20]:
harden = player.get_player('LeBron', 'James', just_id=False)

In [21]:
harden

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
1823,2544,"James, LeBron",LeBron James,1,2003,2017,lebron_james,1610612739,Cleveland,Cavaliers,CLE,cavaliers,Y

In [22]:
harden_summary = player.PlayerSummary('2544')

In [23]:
harden_summary

In [24]:
print harden_summary

<nba_py.player.PlayerSummary instance at 0x10d399b90>

In [25]:
harden_summary.json

{u'parameters': [{u'PlayerID': 2544}, {u'LeagueID': None}],
 u'resource': u'commonplayerinfo',
 u'resultSets': [{u'headers': [u'PERSON_ID',
    u'FIRST_NAME',
    u'LAST_NAME',
    u'DISPLAY_FIRST_LAST',
    u'DISPLAY_LAST_COMMA_FIRST',
    u'DISPLAY_FI_LAST',
    u'BIRTHDATE',
    u'SCHOOL',
    u'COUNTRY',
    u'LAST_AFFILIATION',
    u'HEIGHT',
    u'WEIGHT',
    u'SEASON_EXP',
    u'JERSEY',
    u'POSITION',
    u'ROSTERSTATUS',
    u'TEAM_ID',
    u'TEAM_NAME',
    u'TEAM_ABBREVIATION',
    u'TEAM_CODE',
    u'TEAM_CITY',
    u'PLAYERCODE',
    u'FROM_YEAR',
    u'TO_YEAR',
    u'DLEAGUE_FLAG',
    u'GAMES_PLAYED_FLAG',
    u'DRAFT_YEAR',
    u'DRAFT_ROUND',
    u'DRAFT_NUMBER'],
   u'name': u'CommonPlayerInfo',
   u'rowSet': [[2544,
     u'LeBron',
     u'James',
     u'LeBron James',
     u'James, LeBron',
     u'L. James',
     u'1984-12-30T00:00:00',
     u'St. Vincent-St. Mary HS (OH)',
     u'USA',
     u'St. Vincent-St. Mary HS (OH)/USA',
     u'6-8',
     u'250',
     14,
     u'23',
     u'Forward',
     u'Active',
     1610612739,
     u'Cavaliers',
     u'CLE',
     u'cavaliers',
     u'Cleveland',
     u'lebron_james',
     2003,
     2017,
     u'N',
     u'Y',
     u'2003',
     u'1',
     u'1']]},
  {u'headers': [u'PLAYER_ID',
    u'PLAYER_NAME',
    u'TimeFrame',
    u'PTS',
    u'AST',
    u'REB',
    u'PIE'],
   u'name': u'PlayerHeadlineStats',
   u'rowSet': [[2544, u'LeBron James', u'2016-17', 26.4, 8.7, 8.6, 0.183]]},
  {u'headers': [u'SEASON_ID'],
   u'name': u'AvailableSeasons',
   u'rowSet': [[u'12003'],
    [u'22003'],
    [u'12004'],
    [u'22004'],
    [u'32004'],
    [u'12005'],
    [u'22005'],
    [u'32005'],
    [u'42005'],
    [u'12006'],
    [u'22006'],
    [u'32006'],
    [u'42006'],
    [u'12007'],
    [u'22007'],
    [u'32007'],
    [u'42007'],
    [u'12008'],
    [u'22008'],
    [u'32008'],
    [u'42008'],
    [u'12009'],
    [u'22009'],
    [u'32009'],
    [u'42009'],
    [u'12010'],
    [u'22010'],
    [u'32010'],
    [u'42010'],
    [u'12011'],
    [u'22011'],
    [u'32011'],
    [u'42011'],
    [u'12012'],
    [u'22012'],
    [u'32012'],
    [u'42012'],
    [u'12013'],
    [u'22013'],
    [u'32013'],
    [u'42013'],
    [u'12014'],
    [u'22014'],
    [u'32014'],
    [u'42014'],
    [u'12015'],
    [u'22015'],
    [u'32015'],
    [u'42015'],
    [u'12016'],
    [u'22016'],
    [u'32016'],
    [u'42016']]}]}

In [26]:
harden_summary.info

In [27]:
harden_summary.info()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,St. Vincent-St. Mary HS (OH)/USA,...,cavaliers,Cleveland,lebron_james,2003,2017,N,Y,2003,1,1

In [28]:
harden_summary.headline_stats()

   PLAYER_ID   PLAYER_NAME TimeFrame   PTS  AST  REB    PIE
0       2544  LeBron James   2016-17  26.4  8.7  8.6  0.183

In [1]:
import goldsberry

In [2]:
type(goldsberry)

module